@model Noticias
    @{
        ViewData["Title"] = "Noticias";
    }

    <form method="POST" action='@Url.Action("Cadastrar")'>
    <label>ID</label>
    <input type="text" name="IdNoticia" />

    <label>Titulo</label>
    <input type="text" name="Titulo" />


    <label>Texto</label>
    <input type="text" name="Texto" />

    <label>Imagem</label>
    <input type="text" name="Imagem" />

    <button type="submit">Cadastrar</button>
</form>

<table class="table table-striped table-responsive">
    <thead>
        <th>ID</th>
        <th>Titulo</th>
        <th>Texto</th>
        <th>Foto</th>
    </thead>
    <tbody>
        @foreach(Noticias n in ViewBag.Noticia){
            <tr>
                <td>@n.IdNoticia</td>
                <td>@n.Titulo</td>
                <td>@n.Texto</td>
                <td><img src="img/Equipes/@n.Imagem" alt="Imagem da equipe @n.Titulo" width="40"></td>
                <td><a asp-area="" asp-controller="Noticias" asp-action="Excluir" asp-route-id="@n.IdNoticia">Excluir</a></td>
            </tr>
        }
    </tbody>
</table>